*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'Metal Mania', cursive;
}

:root {
  --bgrd: #0e2236;
  --othz: hsla(206, 54%, 55%, 0.63);
  --butz: hsl(360, 91%, 36%);
  --expr: #e7e9eb;
  --grr: #c0c7cf;
  --textfont1: rgba(160, 11, 11, 0.699);
  --textfont2: black;
}

html,
body,
.wrapper {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--bgrd);
}

.wrapper {
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

header {
  text-align: center;
  padding: 20px;
  padding-top: 0px;
  color: var(--textfont1);
  font-size: 200%;
}

h2 {
  text-align: center;
  font-size: 125%;
}

.card {
  background-color: var(--othz);
  border-radius: 20px;
  border-width: 1px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px 0px;
  color: var(--textfont2);
  font-size: 18px;
  margin: 0 auto;
  max-width: 800px;
  padding: 30px 40px;
  text-align: center;
}

.card-header::after {
  content: " ";
  display: block;
  width: 100%;
  background: var(--expr);
  height: 2px;
}

.card-body {
  min-height: 100px;
}

.card-footer {
  text-align: center;
}

.card-footer::before {
  content: " ";
  display: block;
  width: 100%;
  background: var(--expr);
  height: 2px;
}

.card-footer::after {
  content: " ";
  display: block;
  clear: both;
}

.btn {
  border: none;
  background-color: var(--butz);
  border-radius: 25px;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 6px 0px rgba(0, 0, 0, 0.2) 0px 1px 1px
    0px;
  color: hsl(0, 0%, 100%);
  display: inline-block;
  font-size: 22px;
  line-height: 22px;
  margin: 16px 16px 16px 20px;
  padding: 14px 34px;
  text-align: center;
  cursor: pointer;
}

button[disabled] {
  cursor: default;
  background: var(--grr);
}

.float-right {
  float: right;
}

#bandcard {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  display: block;
  width: 100%;
  padding-top: 37px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 25px;
  font-size: 1.2rem;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px dashed rgba(255, 0, 0, 0.568);
  border-radius: 100px;
  resize: none;
  overflow: hidden;
  height: 100px;
}

@media (max-width: 690px) {
  .btn {
    font-size: 1rem;
    margin: 16px 0px 0px 0px;
    padding: 10px 15px;
  }

  #password {
    font-size: 1rem;
  }
}

@media (max-width: 500px) {
  .btn {
    font-size: 0.8rem;
  }
}
